/* Door de validator gekomen */

body{
  width: 100vw;
  
}

main{
  width: 1024px;
  margin-inline: auto;  
}

/* Styling voor beide secties */

section{
  width: 100%;
  border: 2px solid #c0c0c0;
  margin-block-end: 5px;
  box-sizing: content-box;
}

/* Bovenste sectie - afbeeldingen + tabel */

.bordspellen{
  display: flow-root;
}

section > h2{
  text-align: center;
}

.bordspellen > figure{
  width: 400px;
  margin-inline: auto;
  margin-block-end: 10px;
  border: 1px solid #c0c0c0;
  padding: 3px;
  box-sizing: border-box;
}

figure > figcaption{
  text-align: center;
}

.bordspellen img{
  width: 100%;
}

.bordspellen >div{
  float: left;
  width: 50%;
  background-image: url("./images/rotsen.jpg");
  box-sizing: border-box;
}

.bordspellen > div > p{
  text-align: center;
  padding: 1em;
  border: 24px solid rgba(255,255,255,.5);
  margin: 3em;
  background-clip: padding-box;
  background-color: #fff;
}

.bordspellen > table{
  width: 50%;
  border: 1px solid #000;
  font-size: small;
  box-sizing: border-box;
}

th{
  background-color: #7fffd4;
  width: 33%;
  font-size: 12px;
  padding-block: 5px;
}

.schema td:first-child{
  background-color: #bda980;
}

.schema td:nth-child(2),
.schema td:nth-child(4){
  background-color: #ae9368;
  text-align: center;
}

.schema td:nth-child(3),
.schema td:nth-child(6){
  text-align: center;
}

.schema td:nth-child(5),
.schema td:last-child{
  text-align: center;
  background-color: #d79f50;
}

/* Onderste sectie - schaakbord */

.schaakbord > div{
  margin-inline: auto;
  width: 500px;
  height: 500px;
  border: 1rem solid #000;
  margin-block-end: 2rem;
  padding: 1rem;
}

.schaakbord table{
  width: 100%;
  height: 100%;
  border: 2px solid #ff0000;
  border-spacing: 0;
}

.schaakbord .achtergrond-grijs{
  background-color: #818181;
}

.schaakbord td{
  font-size: 2.5rem;
  text-align: center;
  width: 12.5%;
  height: 12.5%;
}





