body{
  font: 20px/1.5 Roboto, sans-serif;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: max-content;
  /* display: none; */
  transform: translateX(-100px);
  transition: transform 250ms ease-out;
}

a:any-link,
a:active{
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 768px){
  input:checked + ul,
  ul{
    display: flex;
    transform: translateX(0);
  }
  li{
    padding: 10px;
  }
  [for="menu-toggle"]{
    display: none;
  }
}

#menu-toggle{
  display: none;
}

input:checked + ul{
  /* display: initial; */
  transform: translateX(0);
  transition: transform 200ms ease-in;
}
