/* *{
  margin: 0;
}

.container{
  inline-size: 100vw;
  block-size: 100vh;
  background-color: hsl(36, 100%, 90%);
  display: grid;
  place-items: center;
}

.block{
  inline-size: 200px;
  block-size: 200px;
  background-image: radial-gradient(circle, white, blue);
  border: 16px double hsl(0, 100%, 75%);
  border-image-source: url("./img/rand.jpg");
  border-image-slice: 45;
  border-image-width: 15px;
  border-image-repeat: round;
} */

body {

background-color: #FFC;

}

div.container {

width:600px;

}

.block {

width: 200px;

height: 200px;

margin: 30px;

float: left;

background-image: radial-gradient(circle, white 5px, blue);

border-image-source: url(./img/rand.jpg);

border-width: 50px;

border-style: double;

border-image-slice: 20%;

border-image-width: 50px;

border-image-repeat: round stretch;

}

