*{
  margin: 0;
  padding: 0;
}

body{
  inline-size: 100%;
  height: 100vh;
}

header{
  margin: 0;
  padding: 0;
  block-size: 33%;
  background-image: radial-gradient(blue, green, red);
}

.container{
  display: flex;
}

.item{
  inline-size: 200px;
  block-size: 200px;
}

.one{
  background-color: rgb(255,255,0);
}

.two{
  background-color: hsl(40, 20%, 30%);
}

.three{
  background-color: hsl(220, 75%, 50%);
}

.four{
  background-color: rgb(133,200,54);
}

.five{
  background-color: hsl(300, 45%,25%);
}

.six{
  background-color: rgb(78,44,66);
}