article{
  inline-size: 200px;
  block-size: 350px;
  border: 1px solid hsl(0, 0%, 50%);
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: repeat(3, 1fr);
}

/* met grid */

header{
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  background-color: hsl(0, 0%, 50%);
}

h1{
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  text-align: center;
  font-size: 1.5em;
  color: hsl(0, 0%, 100%);
  z-index: 2;
}

img{
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  margin-block-start: 0;
  align-content: flex-start;
}



/* met position */

/* header{
  block-size: 7rem;
  position: relative;
  background-color: hsl(0, 0%, 50%);
}

h1{
  inline-size: 100%;
  position: absolute;
  text-align: center;
  z-index: 1;
}

img{
  inline-size: 100%;
 position: absolute;
  top: 0;
}

section{
  padding-inline: 10px;
} */



