body{
  margin: 0;
  padding: 0;
  inline-size: 100vw;
  block-size: 100vh;
  display: grid;
  place-items: center;
}

main{
  box-sizing: border-box;
  inline-size: 100%;
  block-size: 75%;
  background-color: #ffc917;
  padding: 10px 18px;
}


h1{
  display: none;
}

.location p{
  inline-size: 100%;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
}

label{
  inline-size: 100%;
  block-size: 100%; 
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px; 
  padding-inline-start: 15px;
  box-sizing: border-box;
 }

input{
  background-color: transparent;
  border: none;
  flex: 1;
  font-size: 1rem;
  margin-inline-start: 10px;
  padding-block: 10px;
  }

  .location .arrows-small{
    padding-inline: 10px;
    height: 100%;
    align-self: center;
  }

  .location > .arrows-big{
    display: none;
  }


  .naar{
    margin-block-start: -15px;
  }

input:focus{
  outline: none;
}


.plannen{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.plannen p{
  background-color: transparent;
  padding-inline: 10px;
  padding-block-end: 5px;
  inline-size: max-content;
  color: rgb(4, 4, 101);
  font-weight: 200;
  border-bottom: 2px solid #dca901;
  border-radius: 0;
}

.plannen p:first-child{
  border-block-end-color:#040465
}

.plannen p:nth-child(2){
  color: #8c6c02;
  margin-inline-end: 10px;
}

.plannen p:nth-child(3),
.plannen p:nth-child(4),
.plannen p:nth-child(5){
  margin-inline-end: 10px;
}

.plannen p:nth-child(4),
.plannen p:nth-child(5),
.plannen p:nth-child(6){
  margin-block-start: 0px;
}

.plannen p > i{
  margin-inline-end: 5px;
}

.plannen + button{
  background-color: #2839f3;
  color: #fff;
  inline-size: 100%;
  border: none;
  padding-block: 10px;
  border-radius: 5px;
}

.plannen + button:focus{
  outline: none;
}

hr{
  border: none;
  inline-size: 100%;
  block-size: 2px;
  background-color: #dca901;
}

.storingen > p{
  inline-size: max-content;
  background-color: transparent;
  display: flex;
  align-items: center;
  /* background: red; */
}

.storingen > p:nth-child(2){
  display: none;
}

.storingen a{
  text-decoration: none;
  color: #040465;
  font-size: 1.1rem;
}

.storingen > p > .fa-triangle-exclamation{
  color: #d60303;
  margin-inline-end: 5px;
  font-size: 1.2rem;
}

.storingen > p > .fa-angle-up,
.storingen > p > .fa-triangle-exclamation{
  margin-block-end: -4px;
}

.storingen a + i{
  transform: rotate(90deg);
  color: rgb(4, 4, 101);
  margin-inline-start: 8px;
  font-size: 0.9rem;
  /* background: green; */
}

/* Tablet size */

@media screen and (min-width: 768px){
  h1{
    display: block;
    font-weight: 400;
    font-size: 2.5rem;
  }

  main{
    padding: 15px 4rem;
  }

  .location{
    display: flex;
  }

  .location > p{
    inline-size: 50%;
  }

  .location .arrows-small{
    display: none;
  }

  .location > .arrows-big{
    display: inline;
    block-size: 100%;
    inline-size: max-content;
    align-self: center;
    margin-inline: 1rem;
    background-color: transparent;
  }

  .naar{
    margin-block-start: 15px;
  }

  .plannen-container{
    display: flex;
    justify-content: space-between;
  }

  .plannen{
    display: flex;
    inline-size: 60%;
  }

  .plannen p:nth-child(4),
  .plannen p:nth-child(5),
  .plannen p:nth-child(6){
     margin-block-start: 16px;
}

  .plannen + button{
    inline-size: 30%;
    block-size: max-content;
    padding-block: 15px;
  }

  .storingen{
    display: flex;
    inline-size: 100;
    justify-content: space-between;
    }
  
  .storingen > p:nth-child(2){
    display: inline;
    margin-inline-end: 5rem;
  }
}

/* large screen */

@media screen and (min-width: 1440px){
 
}

