*{
  margin: 0;
}

body{
  block-size: 100vh;
  inline-size: 100vw;
  display: flex;
  align-items: center;
}

.block{
  inline-size: 100px;
  block-size: 100px;
  border: 1px solid red;
  background: blue;
  animation-name: blok;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: normal;
}

@keyframes blok{
  0%{
    margin-top: 0;
    margin-left: 0;
  }
  25%{
    margin-top: -25%;
    margin-left: 25%;
    transform: rotate(45deg);
  }
  50%{
    margin-top: 25%;
    margin-left: 50%;
    transform: rotate(90deg);
  }
  75%{
    margin-top: -25%;
    margin-left: 75%;
    transform: rotate(135deg);
  }
  100%{
    margin-top: 0;
    margin-left: 0;
    transform: rotate(180deg);
  }
}
